@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
.font-heading,
blockquote {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
.btn-primary {
  @apply text-gray-900 text-xl px-6 py-4 text-center bg-amber-400 rounded-xl shadow-2xl hover:shadow-md transition duration-500 hover:scale-95 hover:bg-amber-500;
  /* @apply text-gray-900 text-xl px-6 py-4 text-center  rounded-xl shadow-2xl hover:shadow-md transition duration-500 hover:scale-95 hover:bg-amber-500; */
  /* background-color: #deb682; */
}
.blogList {
  flex-direction: row-reverse;
}
.blogPost div {
  padding-bottom: 20px;
}
.blogPost blockquote {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: #373737;
}
